:root{
    --box-background: #D0CCD0;
    --soft_white: #FBFCFF;
    --brown_gray:  #605856;
    --blue_saphire: #1C6E8C;
    --charcoal_blue: #274156;
}

*{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color: var(--soft_white);
}

/*Navigation bar styling start*/
header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

nav {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--box-background);
    padding: 15px;
}

nav h1{
    display: inline;
    padding: 5px 10px 0px 10px;
    margin: 0px 0px 10px 10px;
    border-bottom: 5px solid black;
    font-style: italic;
    font-size: 3vw;
}

nav ul{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

nav ul li{
    display: inline;
    padding: 0px 20px 0px 20px;
    line-height: 3vw;
}

nav ul li a{
    text-decoration: none;
    color: black;
    padding: 10px;
    margin: 20px;
    border-bottom: 2px solid black;
}

nav ul li a:hover {
    color: var(--soft_white);
    background-color: var(--brown_gray);
    border-radius: 10px;
    border: none;
}
/*Navigation styling end*/


/* hero styling start */
.hero{
    height: 500px;
    background-image: url("../images/hero_image.jpg");
    background-size: 100% 100%;
    position: relative;
}

.hero h1{
    position: absolute;
    bottom: 0;
}
/* hero styling end */



/*About me styling start*/
.aboutMe{
    margin: 3vw 0 3vw 0;
    text-align: center;
    background-color: var(--box-background);
    border-radius: 20px;
    padding: 20px;
}

.aboutMe h2{
    display: inline;
    padding: 0 25% 0 25%;
    border-bottom: 2px solid var(--charcoal_blue);
    width: 50%;
}

.aboutMe div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.aboutMe div img{
    margin: 20px;
    max-width: 50%;
    max-height: 100%;
}

.aboutMe p {
    margin: 30px;
    text-align: left;
    line-height: 2vw;
}
/*About me styling end*/


/*exampleWork styling start*/
.exampleWork ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.exampleWork a li{
    margin: auto;
    max-width: 862px;
}

.exampleWork ul a li{
    margin:20px 50px 20px 50px;
    width: 371px;
    height: 373px;
}

.projects img{
    width: 100%;
    height: 100%;
}

.projects li{
    text-decoration: none;
    border: 5px solid var(--blue_saphire);
    position: relative;
    opacity: 80%;
}

.projects li:hover{
    opacity: 100%;
}

.projects li p{
    font-size: 25px;
    background-color: var(--blue_saphire);
    border: 3px solid var(--blue_saphire);
    font-weight: bold;
    font-style: italic;
    color: var(--box-background);
    position: absolute;
    bottom: 10px;
    left: 0px;
}
/*exampleWork styling start*/


/*footer styling begin*/
footer{
    margin: 30px 0 0 0;
    padding: 30px 0 30px 0;
    background-color: var(--box-background);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

footer h2{
    display: inline;
    padding: 0 25% 0 25%;
    border-bottom: 2px solid var(--charcoal_blue);
    width: 50%;
    margin: 0 0 10px 0;
}

.contactInfo p{
    margin: 10px 0 10px 0;
}

.contactInfo p a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.contactInfo p a:hover{
    padding: 5px;
    color: var(--soft_white);
    background-color: var(--brown_gray);
    border-radius: 10px;
    border: none;
}
/*footer styling end*/

/*media queries*/
@media screen and (min-width: 1443px) {

    /*flex box margin adjustment to stay 2 per row*/
    .exampleWork{
        margin: 0 12% 0 12%;
    }

    /*adjust hero so it doesn't stretch as bad*/
    .hero{
        height: 750px;
    }

}
/*media queries*/